__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll
*.dylib

db.sqlite3
**/migrations/*.py
!**/migrations/__init__.py
media/
staticfiles/
local_settings.py

venv/
env/
.venv/
.env/

.idea/
.vscode/
*.sublime-workspace
*.swp
*.swo

*.log
logs/

.cache/
.pytest_cache/

node_modules/
npm-debug.log
yarn-error.log

.DS_Store
.AppleDouble
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini

*~
.directory

.coverage
coverage.xml
*.bak
*.tmp

/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/.temp/
/frontend/.cache/
/frontend/.parcel-cache/
/frontend/.pnp.*
/frontend/.yarn/
/frontend/yarn-error.log
/frontend/package-lock.json  # если используете yarn
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
