@font-face {
  font-family: "PT Astra Sans";
  src: url("./fonts/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Astra Sans";
  src: url("./fonts/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Astra Sans";
  src: url("./fonts/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Astra Sans";
  src: url("./fonts/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
